
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
    width: 100vw;
}
body{
    font-family: "roboto" , Arial, Helvetica, sans-serif;
        height: 100%;
        width: 100%;
}

.dashboard{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    

}
.sidebar{
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color:rgb(25, 146, 212);
    display: grid;
    padding: 15px;
    grid-template-rows: 1fr 2fr 5fr;
}
a{
    text-decoration: none;
    color: inherit;
}
.sidebar a{
    display: grid;
    grid-auto-flow: column;
    gap: 15%;
    align-items: center;
    justify-content: start;
    margin-bottom: 5px;

}

.header{
    grid-area: 1 / 2 / 2 / 3;
    background-color:white;
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.header .top-row , .header .bottom-row{
    display: grid;
    grid-auto-flow: column;
    padding: 10px;

}
.top-row, .bottom-row{
    align-items: center;

}
.top-row a{
    display: grid;
    grid-auto-flow: column;
    justify-content: right;
    margin-right: 10%;
    gap: 5%;
    align-items: center;
}

.bottom-row a{
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    gap: 2%;
}
.btns{
    margin-left: auto;
    margin-right: 10%;
}
button{
    width: 70px;
    height: 30px;
    border-radius: 15px;
    color: white;
    border: none;
    background-color: rgb(25, 146, 212);
}

.main-content{
    grid-area: 2 / 2 / 3 / 3;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
}
.cards{
    background-color: #e2e8f0;
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(3,1fr);
    padding: 15px 10px 10px; 
    gap: 15px;
    height: 100%;
}
.cards > h5{
    grid-area: 1 / 1 / 2 / 3;
}
.card{
    border-radius: 5px;
    background-color: #ffffff;
    border-left: 6px solid rgb(240, 180, 41);
    display: grid;
    grid-template-rows: 4fr 1fr;
    padding: 20px 15px;
    min-height: 0;
}
.card .card-bottom{
    justify-self: flex-end;
    margin-right: 10px;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}


.announcements .unit , .trending .trending-unit{
    border-bottom: 2px solid rgb(209, 208, 208);
    padding: 10px;
    background-color: #ffffff;

}
.trending .trending-unit{
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    border: none;
}
.trending-unit img{
    width: 40px;
}

input{
    border: #ffffff;
    border-radius: 10px;
    width: 90%;
    background-color: rgb(212, 218, 227);
}
.announcements, .trending{
    margin-right: 10%;
    margin-bottom: 12px;

}
.announcements > h5, .trending > h5{
    padding: 10%;
}
* {
    /* outline: 1px solid red; */
}
